<title>My application deployed automatically</title>
  <h1>This program returns true if the string in third box takes place the number in second box times in the list in first box.</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="1" cols="20">
        </textarea>
        <textarea name="input3" rows="1" cols="20">
        </textarea>
        <br>
        <input type="submit">
  </form>

